.box_wrapper img{
    width: 105px;
}
.rotate_wrapper{
    padding: 100px;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.box_wrapper{
    transform-origin: top left;
    animation: rotate 1s linear;
    animation-iteration-count: infinite;
}