* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 15vw;
    background-color: black;
}

h1 {
    color: white
}

/* classes */

.logindialog #title{
    animation: test 1s;
    display: flex;
    width: 100%;
    height: 100%;
}

.logindialog{
    align-items: center;
    animation: test 0.5s;
    border-radius: 16px;
    padding: 25px;
    background-color: white;
    height: 270px;
    width: 500px;
    box-shadow: 0 2px 44px rgba(0, 0, 0, 0.452);
}

.logindialog h1{
    color: black;
}

.novis .logindialog{
    opacity: 0%;
    animation: rev 0.5s;
}


.lo {
    transition: background-color 0.3s;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}

.lo:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
}

.re {
    padding: 10px;
}

.ad {
    width: 35vw;
    font-size: 3rem;
}

.vid {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 1416px;
}

.header {
    z-index: 2;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 1rem;
}

.header-item {
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
}

.btn {
    transition: background-position 0.2s;
    display: flex;
    font-size: 20px;
    background: none;
    color: white;
    width: 15vw;
    padding: 10px;
    border: none;
    text-align: left;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px white solid;

}

.btn:hover {
    background-color: white;
    border: 2px white solid;
    color: black;
}

.btn:hover #btnicon {
    transform: translate3d(5px, 0, 0);
}

@keyframes blur {
    from {
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(20px);
    }
}
.searchdialog-contain{
    width: 100%;
    display: flex;
}
.searchdialog {
    animation: blur 0.5s;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
}

.searchdialog {
    display: none;
}

.visible {
    display: flex;
}

@keyframes test {
    from {
        opacity: 0%;
        transform: translate3d(0, 25px, 0)
    }

    to {
        opacity: 100%;
        transform: translate3d(0, 0, 0)
    }
}

.searchbar {
    animation: test .5s;
    margin-top: 250px;
    width: 25vw;
    height: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
}

#btntext {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

#btnicon {
    transition: transform 0.1s linear;

    margin-left: auto;
    transform: translate3d(0px, 0, 0)
}

a {
    text-decoration: none;

}

.header-item a {
    outline: none;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.header-item a:hover {
    color: white;
    font-weight: bold;
}

#login-area {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}

.closebtn {
    animation: test 1s;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    height: 55px;
    width: 55px;
    margin-top: 260px;
    margin-left: 25px;

}

#search {
    cursor: pointer;
    transition: width 0.5s cubic-bezier(.31, .17, .19, 1);
    margin-right: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    display: flex;
    border-radius: 25px;
}

#logo {
    margin-left: 25px;
}

#icon {
    margin-left: auto;

}

#s-txt {
    margin-top: auto;
    margin-bottom: auto;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    outline: none;
    display: none;
}

#s-txt-visible {
    margin-top: auto;
    margin-bottom: auto;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    outline: none;
}