
.video_body-left{
    float: right;
    padding: 150px;
    width: 50%;
    height: 100vh;
}
.video_body-right{
    position: fixed;
    background-color: white;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.164);
    width: 30%;
    height: 100vh;
    float: right;
    padding-top: 150px;
    padding-left: 50px;
}
.video_body{
    width: 100%;
}
.video_wrapper{
    border-radius: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 56.25%;
    background-color: black;
    overflow: hidden;
}
h1{
    color: black;
}
.title_desc{
    margin-top: 25px;
}
.info_wrapper{
    display: flex;
    justify-content: space-between;
}
.like_dislike{
    display: flex;
    font-size: 20px;
}
.like_dislike-wrapper{
    margin-top: auto;
}
.like_dislike p{
    margin-left: 25px;
}
.ratio_bar{
    overflow: hidden;
    border-radius: 16px;
    margin-top: 15px;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.24);
}
.ratio_content{
    background-color: #B2E3FF;
    width: 86%;
    height: 100%;
}
.desc_date{
    margin-bottom: 25px;
    font-weight: bold;
}
.desc_box{
    overflow: hidden;
    margin-top: 35px;
    max-height: 15vh;
    max-width: 100%;
    padding: 25px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.507);
    border-radius: 16px;
}
.user_box{
    margin-top: 25px;
}
.user_name img{
    border-radius: 100px;
    object-fit: cover;
}
.user_name{
    display: flex;
}
.userinfo{
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.user_box{
    display: flex;
    justify-content: space-between;
}
.user_box button{
    transition: box-shadow 0.2s, outline 0.2s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: 4px #B2E3FF solid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 24px #B2E3FF;
}
.user_box button:hover{
    outline: 2px #B2E3FF solid;
    box-shadow: 0 4px 14px #B2E3FF;
}
.user_box button:active{
    box-shadow: 0 0px 0px #B2E3FF;
    outline: 2px black solid;
}
.comment_wrapper{
    margin-top: 25px;
}
.comment_box{
    margin-top: 25px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.507);
    border-radius: 16px;
}
.userinfo_cmt{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}
.userinfo_cmt p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.comment_content{
    margin-top: 10px;
}
.comment_header{
    display: flex;
    justify-content: space-between;
}
.comment_vote{
    display: flex;
}
.comment_vote i{
    font-size: 20px;
}
.upvote{
    font-size: 20px;

    margin-right: 20px;
}
.downvote{
    font-size: 20px;
    margin-left: 20px;
}
.report{
    font-size: 20px;
    margin-left: 20px;

}
.course_title h1{
    min-width: 25%;
}
.course_title{
    display: flex;
    justify-content: space-between;
}
.progress_bar{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.534);
}
.progress_content{
    width: 35%;
    height: 100%;
    background-color: #B2E3FF;
}
.progress_wrapper{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}
.class_list{

    margin-top: 25px;

}
.class_indv{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #72727236;
    margin-right: 50px;
    padding: 25px;
    border-radius: 10px;
}
.class_indv p{
    margin-top: auto;
    margin-bottom: auto;
}
.secondary_box{
    display: block;
    background-color: white;
    border: 2px dashed;
}
.secondary_box ul{
    list-style: decimal;
    padding: 0px 0px;
}
.secondary_box ul li{
    transition: box-shadow 0.2s;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    border: 2px black solid;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.507);
}
.secondary_box li .ref_title{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.icon_go{
    transition: transform 0.2s;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.secondary_box ul li:hover{
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.507);
}
.secondary_box ul li:hover .icon_go{
    transform: translate(-3px, 0);
}
.secondary_box ul li:active{
    box-shadow: inset 0 10px 24px rgba(0, 0, 0, 0.507);
}
/*UserInfo*/
.user-info_main{
    display: none;
    transition: 0.5s;
    overflow: hidden;
    padding: 25px;
    position: fixed;
    right: 1vw;
    top: 10vh;
    opacity: 0%;
    background-color: rgba(255, 255, 255, 0.938);
    width: 15vw;
    border-radius: 0px;
    border: 1px #727272 solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(100px);
}
.header_info{
    display: flex;
    justify-content: space-between;
    padding: 0 0 25px 0;
    border-bottom: 2px black dashed;
}
.hidden{
    position: absolute;
    width: 100%;
    opacity: 0%;
    transform: translate(100px, 0);
}
.settings_list{
    transition: transform 0.5s, opacity 0.2s;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.settings_list{
    margin: 25px 0 0 0;
}
.setting_entry{
    outline: 10px transparent solid;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.setting_entry:hover{
    background-color: #7272722f;
    outline: 10px #7272722f solid;
}
.settings_txt{
    margin: auto 0;
    display: flex;
    gap: 15px;
}
.settings_txt p{
    font-size: 16px;
    margin: auto 0;
}
.button_list{
    display: flex;
    gap: 15px;
}
.button_list i{
    cursor: pointer;
}
#back_button{
    display: none;
}