@model SpaceCourse.Models.Follower

@if (Model == null)
{


<div class="page_info_content">
        <input type="submit" class="info_content_btn" value="Hủy theo dõi">
        <div></div>
    </div>  }
            else
            {
@(Html.BeginForm("Follow", "CoursePage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page_info_content">
        @Html.HiddenFor(m => m.id_user)
        @Html.HiddenFor(m => m.id_course)
        <input type="submit" class="info_content_btn" value="Theo dõi">
        <div></div>
    </div>
}
            }

