@model SpaceCourse.Models.Cours
<link href="~/Content/Style/coursepage.css" rel="stylesheet" />
<style>
    .body-page {
        background: linear-gradient(180.61deg, #@Model.accent_color -6.97%, rgba(254, 181, 114, 0) 99.47%), #FFFFFF;
    }
</style>
<div class="body-page_info">
    <div class=" page_info_img">
        <img src="~/Content/img/JS_CL.svg" alt="">
        <div class="stack-head_header">
            <h1>@Html.DisplayFor(m => m.name_course)</h1>
            <span>Cơ bản</span>
        </div>
        <div class="test_wrap-bar">
            <div class="test_wrap-inner" style="width: 55%"></div>
        </div>
        <div class="perc">
            <p>55%</p>
        </div>
        <div class="page_info_content">
            <input type="button" class="info_content_btn" value="Tiếp tục">
        </div>
    </div>
</div>
