@model IEnumerable<SpaceCourse.Models.Lesson>

<div class="page_stack-test">
    @foreach(var lession in Model)
            {
    <div class="bai1">
        <div class="stack-test_wrap">
            <div class="test_wrap-info">
                <h3>Bài @lession.id_lesson</h3>
                <div class="test_wrap-info-des">
                    @lession.name_lesson
                </div>
            </div>

            <div class="test_wrap-loading">
                <div class="loading-completed_percent">@lession.process</div>
            </div>
            <div class="test_wrap-bar">
                <div class="test_wrap-inner" style="width: @lession.process%"></div>
            </div>
            <div class="test_wrap-btn">
                <input type="button" class="info_HocLai_btn" value="Vào học">
            </div>
        </div>
    </div>
            }
</div>