@model SpaceCourse.Models.User

<div id="register" class="header-item lo" onclick="showProfile()">@Html.DisplayFor(m => m.name_user)</div>
<img src="@Url.Content(Model.profile_pic)" width="48" height="48" style="border-radius: 50%;" />
