@model SpaceCourse.Models.User
<div class="user-info_main" id="user-inf">
    <div class="header_info">
        <h2>@Html.DisplayFor(m => m.name_user)</h2>
        <div class="button_list">
            <i class="material-icons" id="back_button" onclick="back()">chevron_left</i>
            <i class="material-icons">logout</i>
            <i class="material-icons" onclick="hideProfile()">close</i>
        </div>
    </div>
    <div class="settings_list hidden" id="wallet">
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">account_balance_wallet</i>
                <p>Ví tiền</p>
            </div>
        </div>
        <div class="setting_entry">
            <h2>2.000.000 VND</h2>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">add</i>
                <p>Nạp</p>
            </div>
        </div>
    </div>
    <div class="settings_list hidden" id="profile">
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">person</i>
                <p>Username: @Html.DisplayFor(m => m.user_name)</p>
            </div>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">lock</i>
                <p>Password: ********</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">account_balance_wallet</i>
                <p>Email: @Html.DisplayFor(m => m.emai)</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">face</i>
                <p>Ảnh đại diện</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">paid</i>
                <p>Gói dịch vụ</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">credit_card</i>
                <p>Thanh toán</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
    </div>
    <div class="settings_list" id="main">
        <div class="setting_entry" onclick="changePage('profile')">
            <div class="settings_txt">
                <i class="material-icons">person</i>
                <p>Hồ sơ</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">settings</i>
                <p>Cài đặt</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry" onclick="changePage('wallet')">
            <div class="settings_txt">
                <i class="material-icons">account_balance_wallet</i>
                <p>Ví</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>
        <div class="setting_entry">
            <div class="settings_txt">
                <i class="material-icons">code</i>
                <p>Khóa học đã mua</p>
            </div>
            <i class="material-icons">chevron_right</i>
        </div>

    </div>
</div>
