
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutKhac.cshtml";
}
<link href="~/Content/Style/about-page.css" rel="stylesheet" />
<div class="body_about">
    <h1>Về chúng tôi</h1>
    <h2>BORN TO SHINE</h2>
    <p>SpaceCourse là một nền tảng học trực tuyến chuyên về lập trình. Trang Web sẽ giúp bạn hiểu biết thêm về các thuật toán, tư duy giải quyết vấn đề hoặc chỉ đơn giản là thỏa mãn sự tò mò của bạn về thế giới Lập trình và Tin học.</p>
    <h2>Tại sao bạn nên chọn SpaceCourse?</h2>
    <h3>SpaceCourse là nền tảng học trực tiếp có sự đóng góp của một cộng đồng.</h3>
    <p>Cộng đồng đó là Bạn, những người đóng góp nội dung và những người học khác. Những con người này góp phần tạo nên một cộng đồng mạnh mẽ, giúp bạn vượt qua mọi khó khăn trong việc khám phá ra tiềm năng của mình.</p>
    <h3>SpaceCourse là một trang Web mã nguồn mở.</h3>
    <p>Mã nguồn mở có nghĩa là mọi người có thể sửa đổi mã nguồn của một chương trình / website gì đó. Thay vì phải thuê nhân lực để fix các bug và lỗ hổng thì chúng ta có thể tin cậy và dựa vào cộng đồng. <br> Nếu bạn giỏi về SQL, C# thì có thể đóng góp vào trang Web bằng link sau: </p>
    <h3>SpaceCourse có một mức giá phải chăng</h3>
    <p>Với chỉ $5 một tháng (tương đương 3 bát phở) thì bạn có thể học được dường như là mọi thứ trong thế giới Lập trình, mọi thứ kể cả AI, Backend, Frontend, chúng tôi đều có hết. Chưa hết, bạn có thể tham khảo tài liệu, mã nguồn và có thể hỗ trợ tài chính cho các Dev đã làm việc rất cực khổ để tạo ra trang Web này.</p>
    <h2>Liên hệ với chúng tôi như thế nào?</h2>
    <p>Ai biết :))</p>
    <p>SĐT: (84)0902832020</p>
    <p>Email: quangrain2014@gmail.com</p>
    <h2>Bạn muốn tham gia phát triển SpaceCourse?</h2>
    <p>Đóng góp mã nguồn. <br> <a href="https://github.com/fowardslash/SpaceCourse_MVC">https://github.com/fowardslash/SpaceCourse_MVC</a></p>
    <p>Donate <br> TPBank: <a>2703 0893 890</a> - TIEU TRI QUANG</p>
    <p>Góp ý <br> Tạo một <a href="https://github.com/fowardslash/SpaceCourse_MVC/issues/new">Issue</a> trên GitHub</p>
</div>
