
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="main-background">
    <div class="cover"></div>
    <div class="header-background">
        <video loop="loop" autoplay="autoplay" playsinline muted="muted" class="vid"
               src="https://v.pinimg.com/videos/mc/720p/a0/01/d0/a001d02fae1436c3139a74f39343e474.mp4">
            This browser doesnt support video playback
        </video>
    </div>
    <div class="main-background_body">
        <div class="main-bg_text">
            <h1 class="main-background_ad">Học lập trình từ cơ bản đến nâng cao.</h1>
            <div class="start">
                <button class="start_btn">
                    <div id="btntext" onclick="registerclick()">BẮT ĐẦU</div>
                    <div class="material-symbols-outlined" id="btnicon">chevron_right</div>
                </button>
            </div>
        </div>
        <div></div>
    </div>
</div>
<div class="main-body">
    <div class="main-body_header">
        <div class="body_info-wrapper">
            <div class="main-body_info" id="info-box">

                <div class="body_info-box">
                    <div class="info-box_lesson box-info">
                        <div class="box_lesson-number">31</div>
                        <span>Số Bài Học</span>
                    </div>
                    <div class="info-box_hour box-info">
                        <div class="box_hour-number">17</div>
                        <span>Tổng số giờ</span>
                    </div>
                    <div class="info-box_student box-info">
                        <div class="box_student-number">2003</div>
                        <span>Số người tham gia</span>
                    </div>
                </div>
            </div>
            <div></div>
        </div>

        <div id="body_intro">
            <div class="main-body_header_text">
                <h1>Tại sao chọn SpaceCourse?</h1>
            </div>

            <div class="main-body_adv">
                <div class="main-adv_mess">
                    <h1>Cộng đồng lớn và mạnh mẽ</h1>
                    <p class="adv_desc">
                        Với cộng đồng người dạy và học lớn mạnh và có chuyên môn, bao gồm cả những
                        tiến sĩ và những người sáng tạo nội dung với những kinh nghiệm dày dặn. Bạn sẽ được cung cấp
                        một trải nghiệm học tập tốt nhất với một mức giá phải chăng.
                    </p>
                </div>
                <img class="LuaGa_pic" src="~/Content/img/LuaGa.png">
            </div>

            <div>
                <div class="main-body_adv reality">
                    <img style="margin-top: 20px;
                            left: -5vw" class="LuaGa_pic" src="~/Content/img/LuaGa2.png">
                    <div class="main-adv_mess_mid">
                        <h1>Bài học bám sát với thực tế và mang tính tương tác cao</h1>
                        <p class="adv_desc">
                            Khác với trường học, những bài học trên {name} không hề khô khan và vô
                            dụng,
                            sẽ luôn có những ý nghĩa thực tế trong từng bài học và sau những bài học đấy là những
                            bài
                            kiểm tra* để giúp bạn củng cố lại kiến thức.
                        </p>
                    </div>
                </div>
                <div class="main-body_adv search-feat">
                    <div class="main-adv_mess">
                        <h1>Khám phá linh hoạt những khóa học</h1>
                        <p class="adv_desc">
                            Với khả năng tải bài học về bộ nhớ*, bạn sẽ không bao giờ bỏ qua những
                            buổi
                            học quan trọng, ngay cả khi bị kẹt trong rừng sâu.
                        </p>
                    </div>
                    <img class="LuaGa_pic" src="~/Content/img/Frame_7.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Population-->
<div class="main_body_population">
    <div class="courses">
        <div class="course-containter">
            <div class="course-container--demo">
                <h1 class="course-container--demo_title">Khóa Học Phổ Biến</h1>
                <p class="course-container--demo_description">
                    Cho dù bạn muốn xây dựng một ứng dụng web hay học các kỹ thuật viết mã sáng tạo, hãy để tôi
                    hướng dẫn bạn cách thực hiện.
                </p>
            </div>
            <div class="course-container--popular">
                <a onmousemove="showBtnExplore(this)" onmouseout="hiddenBtnExplore(this)" href=""
                   class="course-card card1">
                    <img style="width: 100%; height: 218px;" src="https://res.cloudinary.com/practicaldev/image/fetch/s--jPSX-ydn--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/tteuu4xw5tomxb7l0xjx.png">
                    <div class="course-card--section">
                        <h3 class="course-card--title">Khóa học Python</h3>
                        <div class="course-card-description">Python là ngôn ngữ có hình thức rất sáng sủa, cấu trúc rõ ràng, thuận tiện cho người mới học lập trình và là ngôn ngữ lập trình dễ học; được dùng rộng rãi trong phát triển trí tuệ nhân tạo. Cấu trúc của Python còn cho phép người sử dụng viết mã lệnh với số lần gõ phím tối thiểu.</div>
                        <footer class="course-card--footer">
                            <div class="footer--video">
                                <h5>30 videos + 2 quizzes</h5>
                                <span>6:33:05 hours</span>
                            </div>
                            <div class="footer--skill">
                                <h5>Skill Level</h5>
                                <span>Beginner</span>
                            </div>
                            <div class="footer--btn_explore">
                                <button class="btn_explore1">Start</button>
                            </div>
                        </footer>
                    </div>
                </a>
                <a onmousemove="showBtnExplore(this)" onmouseout="hiddenBtnExplore(this)" href=""
                   class="course-card card2">
                    <img style="width: 100%; height: 215px;" src="https://imic.edu.vn/Contents/images/news/khoa-lap-trinh-java-core-uu-nhuoc-diem-cua-java-huong-doi-tuong-trong-java-la-gi.jpg" alt=""
                         class="course-card--img">
                    <div class="course-card--section">
                        <h3 class="course-card--title">Khóa Học Java</h3>
                        <div class="course-card-description">Java là một ngôn ngữ lập trình hướng đối tượng và dựa trên các lớp. Khác với phần lớn ngôn ngữ lập trình thông thường, thay vì biên dịch mã nguồn thành mã máy hoặc thông dịch mã nguồn khi chạy, Java được thiết kế để biên dịch mã nguồn thành bytecode, bytecode sau đó sẽ được môi trường thực thi chạy.</div>
                        <footer class="course-card--footer">
                            <div class="footer--video">
                                <h5>6 videos + 6 quizzes</h5>
                                <span>1:16:28 hours</span>
                            </div>
                            <div class="footer--skill">
                                <h5>Skill Level</h5>
                                <span>Beginner</span>
                            </div>
                            <div class="footer--btn_explore">
                                <button class="btn_explore2">Start</button>
                            </div>
                        </footer>
                    </div>
                </a>
                <a onmousemove="showBtnExplore(this)" onmouseout="hiddenBtnExplore(this)" href=""
                   class="course-card card3">
                    <img style="width: 100%; height: 215px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f4eda4e4-9f65-44c0-abf1-0b08d588f21c/dblgueu-f24daf2d-9f9c-47af-8575-02c5ca5d8bed.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y0ZWRhNGU0LTlmNjUtNDRjMC1hYmYxLTBiMDhkNTg4ZjIxY1wvZGJsZ3VldS1mMjRkYWYyZC05ZjljLTQ3YWYtODU3NS0wMmM1Y2E1ZDhiZWQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ygl9dPpPLuNCYHup0nyl_3OWdN5mJRQX8W_kjBvw6Mw" alt=""
                         class="course-card--img">
                    <div class="course-card--section">
                        <h3 class="course-card--title"> Khóa Học Linux</h3>
                        <div class="course-card-description"> Linux là một họ các hệ điều hành tự do nguồn mở tương tự Unix và dựa trên Linux kernel, một hạt nhân hệ điều hành được phát hành lần đầu tiên vào ngày 17 tháng 9 năm 1991, bởi Linus Torvalds</div>
                        <footer class="course-card--footer">
                            <div class="footer--video">
                                <h5>27 videos + 3 quizzes</h5>
                                <span>6:9:48 hours</span>
                            </div>
                            <div class="footer--skill">
                                <h5>Skill Level</h5>
                                <span>Beginner</span>
                            </div>
                            <div class="footer--btn_explore">
                                <button class="btn_explore3">Start</button>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


