
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Background -->
<div class="main-background">
    <div class="cover"></div>
    <div class="header-background">
        <video loop="loop" autoplay="autoplay" playsinline muted="muted" class="vid"
               src="https://v.pinimg.com/videos/mc/720p/a0/01/d0/a001d02fae1436c3139a74f39343e474.mp4">
            This browser doesnt support video playback
        </video>
    </div>
    <div class="main-background_body">
        <div class="main-bg_text">
            <h1 class="main-background_ad">Học lập trình từ cơ bản đến nâng cao.</h1>
            <div class="start">
                <button class="start_btn">
                    <div id="btntext" onclick="registerclick()">BẮT ĐẦU</div>
                    <div class="material-symbols-outlined" id="btnicon">chevron_right</div>
                </button>
            </div>
        </div>
        <div></div>
    </div>
</div>
            </div>


