@model SpaceCourse.Models.Feedback

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutNoFooter.cshtml";
}

<link href="~/Content/Style/forum.css" rel="stylesheet" />

<div class="main_forum-body">
    <div class="body-content">
        <div class="body-content_channels">
            <div class="channels-content-head">
                <h6>CHANNELS</h6>
            </div>
            <div class="channels-content-type">
                <ul class="list-course">
                    <li class="list-course-li1">JavaScript</li>
                    <li class="list-course-li2">HTML 5</li>
                    <li class="list-course-li3">CSS</li>
                    <li class="list-course-li4">WEB API</li>
                </ul>
            </div>
        </div>
        <div class="body-content_forum">
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment">An issue with Code</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-general"> General </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment"> How to create an project with Python</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-WEB-API"> WEB API </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment"> Create background with CSS</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-CSS"> CSS </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment"> How to use tool in CSS</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-CSS"> CSS </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment"> Create an responsive Web with HTML 5</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-HTML-5"> HTML 5</div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment"> Add database to project in Visual Code</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-general"> General </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment">Finished the pokemon game tutorial, here is my clip about build this project</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-general"> General </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment">Stop animations</div>
                        <span>Steve Tran posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-HTML-5"> HTML 5 </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment">Payment</div>
                        <span>YEN TAM posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-JavaScript"> JavaScript </div>
                    </div>
                </div>
            </div>
            <div class="content_forum_wrap">
                <div class="body-content-info">
                    <div class="body-content-user">
                        <img src="~/Content/img/usericon.jpg" alt="">
                    </div>
                    <div class="body-content-comment">
                        <div class="content-of-comment">Code Ha Noi Towers with Quick Sort</div>
                        <span>VinhPC posted 12 hours ago</span>
                    </div>
                </div>
                <div class="content-type">
                    <div class="content-note-icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="body-content-note">
                        <div class="content-note_channels channels-general"> General </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content_newforum">
            <button>NEW THREAD</button>
        </div>
    </div>
</div>


